table {
  width: 90%;
  margin: auto;
}
mat-form-field {
  font-size: 18px;
  width: 100%;
  float: right;
}
#cse {
  margin-left: 70px;
  position: relative;
  top: 55px;
}
p {
  text-align: center;
  font-size: 25px;
  color: red;
  text-decoration: underline;
}
